{% load static %}
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="{% static "css/rods.css" %}">
        <link rel="stylesheet" href="{% static "css/quantity.css" %}">
    </head>
    <body>
        {% include "docs/header.html" %}
        <main>
            <ul class="container text-center">
                <li><h2>Imię i nazwisko:</h2>{{profile.full_name}}</li>
                <li><h2>Email:</h2> {{profile.email}} </li>
                <li>Ulica: {{profile.adress}} </li>
                <li>Miasto: {{profile.city}} </li>
                <li>Kraj: {{profile.country}} </li>
            </ul>
        </main>
        <script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
    </body>