
.env


venv/
env/
ENV/
.venv/
.virtualenv/


*.sqlite3
db_backup.json


*/migrations/*
!*/migrations/__init__.py


*.pyc
*.pyo
*.pyd
__pycache__/
*.log


.vscode/
.idea/
*.sublime-project
*.sublime-workspace


.DS_Store
Thumbs.db

*.log
*.pot
*.mo
*.swp
*.bak
*.tmp


/static/
media/
